@using System.ComponentModel.DataAnnotations;
@model ContactForm.Models.DetailsViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div id="modalContainer"></div>

<div id="contactForm" class="form-container">
    <h2>Contact Us</h2>
    <form id="contactFormElement" asp-action="Index" method="post">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="FirstName" class="control-label"></label>
                <input type="text" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="LastName" class="control-label"></label>
                <input type="text" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label asp-for="Email"></label>
                <input type="text" asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <label>Query Type *</label>
        <div class="row">
            @foreach (var option in Enum.GetValues(typeof(QueryType)))
            {
                <div class="col-md-6 mb-3" style="color: hsl(187, 24%, 22%);">
                    <div class="form-control">
                        <input type="radio" asp-for="SelectQueryType" value="@option" />
                        <label>@GetEnumDisplayName(option)</label>
                    </div>
                    <span asp-validation-for="SelectQueryType" class="text-danger"></span>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label asp-for="Message"></label>
                <textarea asp-for="Message" class="form-control no-resize"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <input asp-for="IsChecked" class="form-check-input" type="checkbox" required />
                <label asp-for="IsChecked" class="form-check-label"></label>
                <span asp-validation-for="IsChecked" class="text-danger" style="display: block;"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary form-control">Submit</button>
            </div>
        </div>
    </form>
</div>
  
  
@functions {
    public static string GetEnumDisplayName(Object enumValue)
    {
        var displayAttribute = enumValue.GetType()
        .GetMember(enumValue.ToString())
        .First()
        .GetCustomAttributes(false)
        .OfType<DisplayAttribute>()
        .FirstOrDefault();

        return displayAttribute?.Name ?? enumValue.ToString();
    }
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#contactFormElement').submit(function (event) {
                event.preventDefault();

                if ($(this).valid()) {
                    let formData = $(this).serializeArray();
                    console.log(formData);
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Index", "Home")',
                        data: formData,
                        success: function (response) {
                            @* for(let i = 0; i < formData.length; i++) {
                                console.log(formData[i])
                            } *@
                            $('#modalContainer').html(response);
                            $('#successModal').modal('show');
                        },
                        error: function (xhr, status, error) {
                            console.log("Error status: " + status);
                            console.log("Error: " + error);
                            console.log("Response Text: " + xhr.responseText);
                            alert('Error submitting form.');
                        }
                    });
                } else {
                    console.log("Form is invalid");
                }
            });
        });
    </script>
}
