@using System.ComponentModel.DataAnnotations;
@model ContactForm.Models.DetailsViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div id="modalContainer"></div>

<div id="contactForm" class="form-container">
    <h2>Contact Us</h2>
    <form id="contactFormElement" asp-action="Index" method="post">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="FirstName" class="control-label"></label>
                <input type="text" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" id="firstNameError" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="LastName" class="control-label"></label>
                <input type="text" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" id="lastNameError" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label asp-for="Email"></label>
                <input type="text" asp-for="Email" class="form-control">
                <span asp-validation-for="Email" id="emailError" class="text-danger"></span>
            </div>
        </div>

        <label>Query Type *</label>
        <div class="row">
            @foreach (var option in Enum.GetValues(typeof(QueryType)))
            {
                <div class="col-md-6 mb-3">
                    <div class="form-control btn-radio-bg">
                        <input type="radio" asp-for="SelectQueryType" value="@option" class="btn-radio" />
                        <label>@GetEnumDisplayName(option)</label>
                    </div>
                    <span asp-validation-for="SelectQueryType" class="text-danger"></span>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label asp-for="Message"></label>
                <textarea asp-for="Message" class="form-control no-resize"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <input asp-for="IsChecked" class="form-check-input" type="checkbox" required />
                <label asp-for="IsChecked" class="form-check-label"></label>
                <span asp-validation-for="IsChecked" class="text-danger" style="display: block;"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-custom form-control">Submit</button>
            </div>
        </div>
    </form>
</div>
  
  
@functions {
    public static string GetEnumDisplayName(Object enumValue)
    {
        var displayAttribute = enumValue.GetType()
        .GetMember(enumValue.ToString())
        .First()
        .GetCustomAttributes(false)
        .OfType<DisplayAttribute>()
        .FirstOrDefault();

        return displayAttribute?.Name ?? enumValue.ToString();
    }
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            const btnRadioBg = document.querySelectorAll(".btn-radio-bg");
            const btnRadio = document.querySelectorAll(".btn-radio");

            for(let i = 0; i < btnRadio.length; i++){
                btnRadio[i].addEventListener('click', function(){
                    if(btnRadio[i].value == "GeneralEnquiery"){
                        btnRadioBg[0].classList.add("radio-bg");
                        btnRadioBg[1].classList.remove("radio-bg");
                } else {
                        btnRadioBg[1].classList.add("radio-bg");
                        btnRadioBg[0].classList.remove("radio-bg");
                }
                })
            }

            $('#contactFormElement').submit(function (event) {
                event.preventDefault();

                let formData = $(this).serializeArray();

                const nameRegex = /^[a-zA-Z' -]{2,50}$/;
                const emailRegex = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

                let isValid = true;

                $('#firstNameError').text('');

                $.each(formData, function(i, field) {
                    if(field.name == "FirstName"){
                        if (!nameRegex.test(field.value)) {
                            $('#firstNameError').text("Please enter a valid name.");
                            isValid = false;
                        }
                    }

                    if(field.name == "LastName"){
                        if (!nameRegex.test(field.value)) {
                            $('#lastNameError').text("Please enter a valid last name.");
                            isValid = false;
                        }
                    }

                    if(field.name == "Email"){
                        if (!emailRegex.test(field.value)) {
                            $('#emailError').text("Please enter a valid email.");
                            isValid = false;
                        }
                    }
                })

                if (isValid) {
                    let formData = $(this).serializeArray();
                    
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Index", "Home")',
                        data: formData,
                        success: function (response) {
                            $('#modalContainer').html(response);
                            $('#successModal').modal('show');
                        },
                        error: function (xhr, status, error) {
                            console.log("Error status: " + status);
                            console.log("Error: " + error);
                            console.log("Response Text: " + xhr.responseText);
                            alert('Error submitting form.');
                        }
                    });
                } else {
                    console.log("Form is invalid");
                }
            });
        });
    </script>
}
