html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

input:active,
textarea:focus,
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  border: none;
  outline: none;
}
input:hover, textarea:hover, .form-check-input:hover {
  border: 1px solid hsl(169, 82%, 27%);
  cursor: pointer;
}
body {
  font-family: Karla;
  background-color: hsl(148, 38%, 91%);
  margin-bottom: 60px;
  color: hsl(187, 24%, 22%);
}

.active {
  border: 2px solid hsl(148, 38%, 91%);
}
.hidden { display: none; }
.form-container {
  width: 60%;
  padding: 2rem;
  margin: auto;
  background-color: #fff;
  border-radius: 0.5rem;
}
.btn-custom {
  background-color: hsl(169, 82%, 27%);
  color: #fff;
}
.radio-bg {
  background-color: hsl(148, 38%, 91%);
  border: 1px solid  hsl(169, 82%, 27%);
}
.btn-custom:hover {
  background-color: hsl(187, 24%, 22%);
  color: #fff;
}
.no-resize {
  resize: none;
}
.modal-success {
  width: fit-content;
  background-color: hsl(187, 24%, 22%);
  color: #fff;
  border-radius: 1em;
  padding: 1em;
  margin: auto;
}
.modal-success span { margin-left: 0.5;font-weight: bold; }
.modal-success p { font-size: 12px; }

.input-validation-error, .field-validation-error  {
  border-color: red;
}
@media screen and (max-width: 375px) {
  .form-container {
    width: 100%;
  }
}